body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.hederList{
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    gap: 72px;
    list-style: none;
    text-transform: uppercase;
    color: #f00;
    padding: 25.5px 0;
    letter-spacing: 2.7px;

}
.last-Elemnt{
    margin-left: -22px;
}
.imeg{
    margin-bottom: 48px;
}


h1{
    margin-bottom: 38px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
}
.main_text{
    font-weight: 400;
    line-height: 26px;
    font-size: 16px;
    color:#373737;
    margin:0 67.5px ;
    letter-spacing: 2.4px;
}
.gip{
    margin-bottom: 38px;
}
.get_started{
    color: white;
    width: 191px;
    height: 51px;
    background: #FF0000;
    font-weight: 700;
    border-radius: 4px;
    margin-top: 66px;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1.8px;

}
.footer{
    font-weight: 700;
    margin-top: 82px;
    margin-bottom: 29px;
    font-size: 16px;
    text-align: right;
    margin-right:105px;
    letter-spacing: 2.4px;



}

